@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
/*Core style*/
*{
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s linear;
}
ul, ol {
    list-style-type: none;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1230px;
    margin: 0 auto;
}
.section_btn1{
    cursor: pointer;
    padding: 16px 40px;
    border: none;
    border-radius: 4px;
    background-image: linear-gradient( to right,#FF3F3A,#F75E05);
    font-size: 16px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.5px;
}
.section_btn2{
    background-color: transparent;
    border-radius: 4px;
    padding: 15px 40px;
    border: 1px solid #F75e05;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #F75e05;
    cursor: pointer;
}
.section_btn2:hover{
    background-image: linear-gradient( to right,#FF3F3A,#F75E05);
    color: #fff;
}
/*Header section style*/
.header{
    padding: 24px 0;
}
.header_wraper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_left, .header_list,.header_right{
    display: flex;
    align-items: center;
    gap: 32px;
}
.header_auth{
    cursor: pointer;
    background: none;
    border: none;
    font-size: 16px;
    color: #424551;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 10px;
}
.header_auth > img{
    height: 17.92px;
    width: 16.67px;
}
.header_link{
    font-size: 16px;
    font-weight: 700;
    color: #424551;
}
/*Home section*/
.home{
    padding: 80px 0;
}
.home_wraper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 96px;
}
.home_title{
    font-size: 64px;
    font-weight: 900;
    line-height: 130%;
    color: #1e212c;
    letter-spacing: 1px;
    margin: 24px;
}
.home_btn2{
    margin-right: 16px;
}
/*STATS  section*/
.stats_wraper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.stats_item{
    display: flex;
    align-items: center;
    gap: 12px;
}
.stats_circle{
    background-color: #ff3f3a;
    width: 8px;
    height: 8px;
    border-radius: 4px;
}