@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
/*Core style*/
*{
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s linear;
}
ul, ol {
    list-style-type: none;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1230px;
    margin: 0 auto;
}
.section_subtitle{
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 1px;
    color: #1e212c;
    text-transform: uppercase;
}
.section_btn1{
    cursor: pointer;
    padding: 16px 40px;
    border: none;
    border-radius: 4px;
    background-image: linear-gradient( to right,#FF3F3A,#F75E05);
    font-size: 16px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.5px;
}
.section_btn1:hover{
    opacity: 0.5;
}
.section_btn2{
    background-color: transparent;
    border-radius: 4px;
    padding: 15px 40px;
    border: 1px solid #F75e05;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #F75e05;
    cursor: pointer;
}
.section_btn2:hover{
    background-image: linear-gradient( to right,#FF3F3A,#F75E05);
    color: #fff;
}
.section_title{
    font-size: 46px;
    line-height: 130%;
    font-weight: 900;
    color: #1e212c;
}
.hero{
    background-image: url(../images/hero.backgrnd.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 1080px;
}
/*Header section style*/
.header{
    padding: 24px 0;
}
.header_wraper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_left, .header_list,.header_right{
    display: flex;
    align-items: center;
    gap: 32px;
}
.header_auth{
    cursor: pointer;
    background: none;
    border: none;
    font-size: 16px;
    color: #424551;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 10px;
}
.header_auth > img{
    height: 17.92px;
    width: 16.67px;
}
.header_link{
    font-size: 16px;
    font-weight: 700;
    color: #424551;
}
/*Home section*/
.home{
    padding: 80px 0;
}
.home_wraper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 96px;
}
.home_title{
    font-size: 64px;
    font-weight: 900;
    line-height: 130%;
    color: #1e212c;
    letter-spacing: 1px;
    margin: 40px 0 64px 0;
}
.home_btn2{
    margin-right: 16px;
}
/*STATS  section*/
.stats{
    padding: 112px 0;
}
.stats_wraper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.stats_item{
    display: flex;
    align-items: center;
    gap: 12px;
}
.stats_circle{
    background-color: #ff3f3a;
    width: 8px;
    height: 8px;
    border-radius: 4px;
}
.stats_description{
    font-size: 16px;
    line-height: 160%;
    font-weight: 400;
    color: #1e212c;
}
/*About section*/
.about{
    margin:120px 0;
}
.about_wraper{
    display: flex;
    justify-content: space-between;
    gap: 112px;
}
.about_item{
    display: flex;
    align-items: start;
    gap: 16px;
    margin-bottom: 12px;
}
.about_title{
    margin: 8px 0 24px 0;
}
.about_check{
    margin-top: 8px;
}
.about_btn{
    margin-top: 32px;
}
.about_text{
    font-size: 16px;
    line-height: 160%;
    font-weight: 400;
    color: #1e212c;
}
/*Courses section*/
.courses{
    margin: 128px 0;
}
.courses_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.courses_button{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    flex-wrap: wrap;
}
.courses_card{
    width: calc((1230px - 24px) /2);
    display: flex;
    align-items: center;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    border-radius: 4px;
    border: 1px solid #e5eBed;
}
.courses_card-right{
    padding: 24px;
}
.courses_card-category{
    border-radius: 4px;
    padding: 1px 8px;
    font-size: 14px;
    line-height: 150%;
    font-weight: 400;
    color: #fff;
}
.courses_card-category1,
.courses_card-category4{
    background-color: #63cea4;
}
.courses_card-category2,
.courses_card-category5{
    background-color: #5A87FC;
}
.courses_card-category3{
    background-color: #F75E05;
}
.courses_card-category6{
    background-color: #F52F6E;
}
.courses_card-titlle{
    margin: 20px 0;
    font-size: 20px;
    line-height: 150%;
    color: #1e212c;
    font-weight: 700;
}
.courses_card-description{
    color: #787a88;
    font-size: 10px;
    font-weight: 400;
    line-height: 150%;
}
.courses_card-price{
    color: #ff4242;
    font-size: 10px;
    font-weight: 700;
    line-height: 150%;
}
/*Benefits section style*/
.benefits_content{
    text-align: center;
}
.benefits_tabs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0;
}
.benefits_item{
    flex: 1;
    text-align: center;
}
.benefits_tab{
    background: none;
    border: none;
    font-size: 16px;
    line-height: 160%;
    font-weight: 700;
    color: #9a9ca5;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    cursor: pointer;
}
/*Combined(qoshma)selector*/
.benefits_tab.active{
    border: 1px solid #ff3f3a;
    border-radius: 4px;
    padding: 8px 0;
    color: #ff3f3a;
}
.benefits_button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 96px;
}
.benefits_botton-title{
    
}